.masthead {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.2);
}

@media (max-width: 768px){
    .masthead{
    min-height: 30vh;
    }
    h1{
    font-size: calc(1.525rem + 3.3vw);
    }
}
/* Para estados */
.filtro-container {
  background-color: #D4D4D4; /* beige */
  border-radius: 50px; /* ovalado */
  display: flex;
  gap: 20rem; /* separación entre botones */
  justify-content: center;
  padding: 10px 20px;
  width: 80%;
  margin: auto; /* centrado */
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-top: 2rem;
}

.filtro-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  color: black; /* texto negro */
  font-family: 'Be Vietnam Pro', sans-serif;
}

.filtro-btn:hover {
  background-color: rgba(0,0,0,0.05);
}


/* para categorías */
.category-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.35rem;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 8px;
    color: #000000;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-btn:hover {
    background-color: #8D94FF;
    color: white;
}

.category-option {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.35rem;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-option:hover {
    background-color: #8D94FF;
    color: white;
}

.category-option input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #8D94FF;
    cursor: pointer;
}

/*  */
.card img {
    height: 200px;
    object-fit: cover;
}
.cards-wrapper {
  width: 80%;
}


.card-category {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 0.9rem;
  color: #333; /* gris oscuro */
  margin-bottom: 8px;
}

.btn-mas-info {
  background-color: #8D94FF;
  color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
  border: none;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-mas-info:hover {
  background-color: #7a82e6; /* tono más oscuro al pasar el mouse */
}
