.hero-bg {
  position: relative;
  /* min-height: 60vh; */
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-bg::before{
  content: "";
  position: absolute;
  inset: 0;                  /* top/right/bottom/left = 0 */
  background: linear-gradient(180deg, rgba(0,0,0,.35), rgba(0,0,0,.55));
  pointer-events: none;      /* no bloquea clicks */
}

/* El contenido va por encima del overlay */
.hero-content{ position: relative; z-index: 1; }

.details-container {
  margin-top: 80px; /* separa del borde superior */
}

#tour-image {
  margin-top: 5rem;
  max-height: 20rem;
  width: 100%;
  object-fit: cover;
}

#btn-reserva {
  font-size: 1.2rem;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
    #tour-image {
        margin-top: 0.5rem;
    }
}
